@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hero-title {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight;
  }

  .hero-lead {
    @apply text-base md:text-xl leading-relaxed;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold;
  }

  .section-lead {
    @apply text-base md:text-xl;
  }

  .card-title {
    @apply text-xl md:text-2xl font-bold;
  }

  .card-body {
    @apply text-sm md:text-base leading-relaxed;
  }
}
